.grid {
  display: grid;
  gap: 20px;
}
.homeGrid {
  grid-template-columns: repeat(2, 1fr);

  & > div:nth-child(n + 3) {
    display: none;
  }

  @media #{$tablet} {
    grid-template-columns: repeat(3, 1fr);

    & > div:nth-child(n + 3) {
      display: flex;
    }
  }
}
.drinksPageGrid {
  grid-template-columns: repeat(2, 1fr);

  @media #{$tablet} {
    grid-template-columns: repeat(3, 1fr);
    & > div:nth-child(10) {
      display: none;
    }
  }
}
