.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 14px;
  padding: 2px;

  &:hover {
    opacity: 0.8;
  }
}

.icon {
  width: 28px;
  height: 28px;
  color: var(--theme-text);
}

.text {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--theme-text);
}
