.TitleSection {
  display: flex;
  flex-direction: column;
  gap: 54px;
  margin-bottom: 122px;

  @media #{$desktop} {
    gap: 120px;
    flex-direction: row;
    margin: 0;
    margin-bottom: 200px;
  }
}
.TextArea {
  display: flex;
  flex-direction: column;
  justify-content: start;
  h1 {
    font-weight: 600;
    font-size: 54px;
    margin-top: 120px;

    @media #{$desktop} {
      font-size: 64px;
      line-height: 1.06;
      margin-top: 185px;
      max-width: 715px;
    }
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.33;
    margin-top: 28px;
    max-width: 500px;
  }
}

.button {
  margin-top: 40px;
  border-radius: 42px;
  width: 160px;
  height: 54px;
  background-color: var(--theme-text);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.13;
  color: var(--theme-bg);
  border: none;

  &:hover {
    background-color: $color-slate;
  }
}

.image {
  width: 359px;
  height: 455px;
  margin: 0 auto;
  @media #{$desktop} {
    margin-top: 128px;
  }
}
