.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.input {
  margin-top: 24px;
  max-width: 310px;
  height: 56px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.56;
  text-align: center;
  background-color: transparent;
  border-radius: 200px;
  border: 1px solid var(--theme-text);
}
.button {
  max-width: 310px;
  height: 56px;
  font-weight: 400;
  font-size: 17px;
  background-color: transparent;
  border-radius: 200px;
  border: 1px solid var(--theme-text);

  &:hover {
    background-color: var(--theme-text);
    color: var(--theme-bg);
  }
}
