.footerWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.firstContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  margin: 164px 0 24px;
  letter-spacing: -0.02em;
}

.formText {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  max-width: 310px;
}
